.small-img {
  width: 75px;
  height: 75px;
}

.container {
  padding: 25px;
  width: 750px;
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

.header-flat-owner {

}

.header-flat-details {
  display: flex;
}

.list-unstyled {
  font-size: 16px;
  color: #AAAAAA;
}
